<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Fraud Detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
        </head>
    <body>
        <h1>Recognize Fraudulent Credit Card Transactions</h1>
        <img class="bottom-cloud" src="{{ url_for('static', filename='images/Fraud.png') }}">
        <div class="bottom-container">
            <a class="footer-link" href="https://github.com/hasangzc">Github</a>
            <a class="footer-link" href="https://hasangozcu.medium.com/">Medium</a>
            <p class="copyright">© 2022 Hasan Haki Gözcü</p>
        </div>
    </body> 
</html> 